{{ ansible_managed | comment }}

[Unit]
Description=Grafana Loki log aggregation system
Documentation=https://grafana.com/docs/loki/latest/
After=network.target

[Service]
User={{ loki_user }}
Group={{ loki_group }}
ExecStart={{ loki_install_dir }}/loki -config.file={{ loki_config_dir }}/loki-config.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=loki

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
